<!-- slide -->

<div class="main-content shadow">
  <div class="jumbotron">
    <h1 class="display-4">Record of Reading</h1>
    <p class="lead">あなたの読書記録を管理してみませんか。</p>
    <hr class="my-4">
    <%= link_to "はじめる",new_user_registration_path,class:"card-btn-home btn btn-primary",method: :get %>
  </div>
</div>
