<!-- slide -->

<div class="main-content shadow">
  <div class="jumbotron">
    <h1 class="display-4">読書記録</h1>
    <p class="lead">読んだ本を記録するアプリです</p>
    <hr class="my-4">
    <%= link_to "はじめる",new_user_registration_path,class:"card-btn-home btn btn-primary",method: :get %>
  </div>
</div>
