<header class="navbar navbar-dark bg-dark page-header fixed-top">
  <div class="container">
    <a class="nabvar-brand col-8 text-white" href="/">
      <img src="/assets/logo.png" class="logo d-inline-block align-top" alt="">
       Books
    </a>
  
    <a class="col-1 text-white">hello</a>
    <a class="col-1 text-white">good</a>
  </div>
</header>