@import '~bootstrap/scss/bootstrap';

/* 共通 */
.wrapper{
  min-height:100vh;
  position: relative;
  background-color:#ddd;
}
	


/* header */
#logo{
  float:left;
  margin-right:10px;
  font-size:1.7em;
  color:white;
  text-transform:uppercase;
  letter-spacing:-1px;
  padding-top:9px;
  font-weight:bold;
  &:hover{
    color:white;
    text-decoration:none;
  }
}
.nav-link{
  color:white;
  &:hover{
    color:white;
  }
}

/* footer */
footer {
  width:100%;
  background:#212529;
  text-align:center;
  padding: 26px 0;
  p{
    color: white;
    font-size: 0.875rem;
  }
  position:absolute;
  bottom:0;
  z-index:1;
}

/* home - bg */


/* home - main */
.main-content{
  position:absolute;
  top:50%;
  left:50%;
  z-index:1;
  transform:translate(-50%,-50%);
}
.jumbotron{
  margin-bottom:0px;
  text-align:center;
}


/* devise - form*/
.field_with_errors {
  display:contents;
  input,textarea{
    @extend .is-invalid !optional;
  }
}
.signup-form {
  width:400px;
  margin-left:auto;
  margin-right:auto;
  padding:20px;
  background-color:white;
}
.signin-form {
  width:400px;
  margin-left:auto;
  margin-right:auto;
  padding:20px;
  background-color:white;
}
.sign-up-title, .login-title{
  margin-top:40px;
  margin-bottom:20px;
  margin-left:20px;
}

/* usersコントローラ - show */
.left-wrapper{
  margin-top:130px;
  .profile-card{
    margin-bottom:26px;
    text-align:center;
    div{
      .rounded-circle{
        margin-bottom:20px;
      }
    }
  }
  .books-info-card{
    margin-bottom:26px;
    text-align:center;
  }
  .add-book-card{
    margin-bottom:26px;
    text-align:center;
  }
}



.list-books{
  margin-bottom:120px;
  .row{
    display:grid;
    gap:26px;
    grid-template-columns:repeat(3,1fr);
    margin-top:6%;
    margin-bottom:20px;
    .item{
      text-align:center;
      width:272px;
      background-color:white;
      .img-thumbnail{
        width:70%;
        margin-bottom:20px;
      }
    }
  }
}

.search-form{
  div{
    display:flex;
    width:400px;
    margin-top:40px;
  }
}
.card-img-top{
  width:50%;
}
.page{
  margin-top:60px;
}