// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// home - header関連 */
img{
  max-width:100%;
  &.logo {
    width:40px;
  }
}

.page-header{
  a{
    display:flex;
    align-items:center;
  }
}

// home - slide関連 //

.slide{
  margin-top:56.08px;
}

// home - main //
.main-content{
  position:absolute;
  top:50vh;
  left:50vh;
  z-index:1;
}

.card{
  height:250px;
  width:500px;
}
.card-body{
  display:grid;
  justify-content:center;
}
.card-btn{
  width:180px;
  margin-left:70px;
}
// home - footer //
footer {
  background:#212529;
  text-align:center;
  padding: 26px 0;
  p{
    color: white;
    font-size: 0.875rem;
  }
}
